

.rect {
    font-family: arial;
    font-size: 17px;
    line-height: 22px;
    color: white;
    background: black;
    width:700px;
    transform: translate(50%, 50%);
    padding: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

body.page3 {
    background-image: url(assets/cabaretDate.jpg);
    background-size: 100%;
  }

