/* STYLE BITCH!!!!!! */

p {
  font-family: Arial;
  font-size: 17px;
  line-height: 22px;
  color: white;
}

.rect {
  background: black;
  display: block;
  margin: auto;
  border: 10px white;
  justify-content:center;
  align-items: center;
  padding: 35px;
}