/* STYLE BITCH!!!!!! */

body.home {
  background-image: url(assets/kamurocho_street_night.jpg);
  background-size: 100%;
}

/* main text box */

.rect {
  font-family: arial;
  font-size: 17px;
  line-height: 22px;
  color: white;
  background: black;
  width:700px;
  transform: translate(50%, 50%);
  padding: 35px;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* navigation buttons */

#moveForwardButton {
  position:absolute;
  top:630px;
  left:48%;
}

#goInsideButton {
  position:absolute;
  visibility:hidden;
  top:630px;
  left:50%;
}

/* hypertext toggle thing > reveals text box and image */

#hypertextRect {
  font-family: arial;
  font-size: 17px;
  line-height: 22px;
  background: white;
  color: black;
  position: absolute;
  top: 5%;
  right: 15%;
  width: 450px;
  padding: 10px;
  visibility: hidden;
}

#hypertextRectTrigger {
  position: absolute;
  text-align: center;
  top: 14%;
  right: 0%;
}

.glowImg {
  animation: glow 1s ease-in-out infinite alternate;
  /* filter: drop-shadow(0px 0px 30px rgb(255, 230, 0))
          drop-shadow(0px 0px 40px rgb(255, 230, 0)) */
  }


@keyframes glow {
  from {
    filter: drop-shadow(0px 0px 15px rgb(250, 236, 114))
    drop-shadow(0px 0px 35px rgb(255, 230, 0))
  }
  to {
    filter: drop-shadow(0px 0px 35px rgb(255, 230, 0))
    drop-shadow(0px 0px 42px rgb(255, 230, 0))
  }
}

/* @keyframes glow {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ffd900a6, 0 0 40px #ffd900a6, 0 0 50px #ffd900a6, 0 0 60px #ffd900a6, 0 0 70px #ffd900a6;
  }
  to {
    box-shadow: 0 0 20px #fff, 0 0 30px #ffd900a6, 0 0 40px #ffd900a6, 0 0 50px #ffd900a6, 0 0 60px #ffd900a6, 0 0 70px #ffd900a6, 0 0 80px #ffd900a6;
  }
} */

#hypertextRectTrigger:hover {
  position: absolute;
  top: 14%;
  right: 0%;
}

/* muscly men text hover > changes the background */

#muscle:hover {
  background: pink;
  color: black;
}

#muscle {
  color:pink
}

/* reveals ichi kiryu hidden image */

#ichiKiryu {
  visibility: hidden;
  position: absolute;
  transform: translate(95%, -50%);
  height: 300px;
  z-index: 1;
}